body {
  background: #edcfd1;
  font-size: 14px;
  font-family: Verdana, sans-serif;
}

.container {
  width: 300px;
  margin: 8px auto;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  position: relative;
}

#question {
  margin-bottom: 16px;
  font-weight: bold;
}

#choices {
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;
}

#choices > li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
}

#choices > li:hover {
  background: #ddd;
}

#choices > li.correct {
  background: #eead20;
  border-radius: 10px;
}

#choices > li.correct::after {
  content: '...Great!!';
}

#choices > li.wrong {
  color: #fff;
  background: #60cc69;
  border-radius: 10px;
}

#choices > li.wrong::after {
  content: '...Wrong';
}

#btn, #result > a {
  background: #3498db;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow:0 5px 0 skyblue;
}

#btn.disabled {
  background: #ccc;
  box-shadow:0 5px 0 #ddd;
  opacity: 0.9;
}

#result {
  position: absolute;
  width: 300px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  transition: 0.4s;
}

#result.hidden {
  transform: translateY(-500px);
}

#result > p {
  font-size: 24px;
}

#result > a {
  display: block;
  text-decoration: none;
}